@forward 'utilities';
@forward 'base';
@forward 'vendor';
@forward 'themes';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #252422;
  color: azure;
  overflow: hidden;
}